.env
./backend/.env
/node_modules
# dependencies
node_modules/

# build files
dist/
build/

# environment files
.env

# binaries / executables
*.exe
*.msi
*.zip
jdk-*
backend/src/expense-tracker-8d3fd-firebase-adminsdk-fbsvc-f7e740bc99.json
# Firebase / GCP secrets
*.json
backend/src/*firebase-adminsdk*
